
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table td{ vertical-align:top; padding:10px; border:1px solid #CCC; }
/* reset : app */

html { height: 100%; overflow: hidden; }
body { width: 100%; height:100%; overflow: hidden; font: 12px/1.4 '微软雅黑'; }
.user-info { widows:100%; clear: both; }
.user-info .user-name { width:120px; display:inline-block; float:left; }
.user-info .user-ext { width:160px; float:right; display:inline-block; text-align:right; color:#CCC; }
.chat-msg { clear:both; text-align:left; padding:5px 0 10px 0; }
.clsme .user-name { color: #F00; }

.wrapper { width:360px; height:99%; float: right; border-radius: 5px; border: 1px solid #ccc; margin:10px auto; background-color: #EFF4FA; box-sizing: border-box; }
.wrapper li { margin: 5px; padding: 5px; border-bottom: 1px solid #CCC; }
.wrapper .content { box-sizing: border-box; height: 70%; border: 1px solid #ccc; margin: 1% 10px; padding: 5px; overflow-y: auto; }
.nav { text-align: center; }
.online { display: inline-block; float: left; }
.wrapper .action { box-sizing: border-box; height:25%; border: 1px solid #ccc; margin: 1% 10px; padding: 5px; }
.wrapper .action textarea { width:96%; height: 50%; border-radius: 3px; display: block; padding: 5px; }
.wrapper .action button { float: right; margin: 5px; }

.nav{ padding:20px; font-size:16px; line-height:180%; }
.nav li{ list-style: none; }

td>p{ display:inline-block; float:right; }
td.act { background:#CCC; }
